<div class="row row-book">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary"
                style="background: dimgrey;color:white;text-align: center;font-size: 20px;">
                <h4 class="card-title ">List Users</h4>
                <p class="card-category"> All User Infor</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table style="text-align: center" id="datatables" class="row-border hover">
                        <thead>
                            <tr>
                                <th>
                                    Avatar
                                </th>
                                <th>
                                    AccFullName
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    DateofBirth
                                </th>
                                <th>
                                    Postion
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="CheckTao" class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary"
                style="background: dimgrey;color:white;text-align: center;font-size: 20px;">
                <h4 class="card-title">User Management</h4>
                <p class="card-category">Add New User Infor</p>
            </div>
            <div class="card-body">
                <form [formGroup]="NgForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">AccFullName</label>
                                <input formControlName="AccFullName" [(ngModel)]="user.AccFullName" type="text"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': Submitted && f.AccFullName.errors }">
                                <div *ngIf="Submitted && f.AccFullName.errors" class="invalid-feedback">
                                    <div *ngIf="f.AccFullName.errors.required">Please fill your fullname!!!</div>
                                </div>
                                <!-- <div *ngIf="checktrung_username" style="color: red; margin-left: 6px;" class="danger">
                                    <div>Username này đã có người khác đăng kí rồi nhé cu!!!!!!!!</div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input (keyup)="Check($event)" formControlName="Email" [(ngModel)]="user.Email"
                                    type="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': Submitted && f.Email.errors }">
                                <div *ngIf="Submitted && f.Email.errors" class="invalid-feedback">
                                    <div *ngIf="f.Email.errors.required">Pleased fill your Email!!!</div>
                                </div>
                                <div *ngIf="checktrung_mail" style="color: red; margin-left: 6px;" class="danger">
                                    <div>Email này đã có người khác đăng kí rồi nhé cu!!!!!!!!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Address</label>
                                <input formControlName="Address" [(ngModel)]="user.Address" type="text"
                                    class="form-control" [ngClass]="{ 'is-invalid': Submitted && f.Address.errors }">
                                <div *ngIf="Submitted && f.Address.errors" class="invalid-feedback">
                                    <div *ngIf="f.Address.errors.required">Please fill Address!!!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">User Image</label>
                                    <input formControlName="Img_URL" class="form-control" type="file" name="file"
                                        multiple (change)="selectImage($event)" style="width: 530px;">

                                    <div *ngIf="submitted && f.Img_URL.errors" class="invalid-feedback">
                                        <div *ngIf="f.Img_URL.errors.required">Please choose your image profile!!!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="co-md-2" style="padding-left: 550px;margin-top: -63px;">
                                <small><img *ngIf="checkhinh" [src]="url" width="100px" height="100px"
                                        style="width: 65px;height: 56px;border: orange 3px solid;" alt=""></small>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Date Of Birth</label>
                                <input formControlName="DateOfBirth" [(ngModel)]="user.DateOfBirth" type="date"
                                    value="20/10/1998" class="form-control"
                                    [ngClass]="{ 'is-invalid': Submitted && f.DateOfBirth.errors }">
                                <div *ngIf="Submitted && f.DateOfBirth.errors" class="invalid-feedback">
                                    <div *ngIf="f.DateOfBirth.errors.required">Please choose Dateofbirth!!!</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Gender</label><br />
                                <input type="radio" formControlName="Gender" [(ngModel)]="user.Gender" name="Gender"
                                    value="Nam">Male
                                <br />
                                <input type="radio" formControlName="Gender" [(ngModel)]="user.Gender" name="Gender"
                                    value="Nữ">Female


                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Postion</label>
                                <br />
                                <select style="color:black" class="form-control" formControlName="Position"
                                    [(ngModel)]="user.Position"
                                    [ngClass]="{ 'is-invalid': Submitted && f.Position.errors }">
                                    <option *ngFor="let vt of ViTri">{{vt}}</option>
                                </select>
                            </div>
                            <div *ngIf="Submitted && f.Position.errors" class="invalid-feedback">
                                <div *ngIf="f.Position.errors.required">Please fill postions!!!</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="float: right;">
                        <button type="reset" style="width: 140px; margin-right:12px ;"
                            class="btn btn-danger pull-right">Reset</button>

                        <button *ngIf="check_btn" type="submit" style="width: 140px;" (click)="Create_User()"
                            class="btn-primary pull-right">Add_New_User</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>

        </div>
    </div>
    <div *ngIf="CheckSua" class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary"
                style="background: dimgrey;color:white;text-align: center;font-size: 20px;">
                <h4 class="card-title" *ngIf="CheckSua">User Details</h4>
                <p class="card-category" *ngIf="CheckSua">Update User Infor</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Họ Và Tên</label>
                            <input [(ngModel)]="user.AccFullName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input [(ngModel)]="user.Email" type="email" class="form-control">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Address</label>
                            <input [(ngModel)]="user.Address" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Date of birth</label>
                            <input [(ngModel)]="user.DateOfBirth" type="date" value="20/10/1998" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Gender</label><br />
                            <input type="radio" [(ngModel)]="user.Gender" name="Gender" value="Nam">Nam
                            <br />
                            <input type="radio" [(ngModel)]="user.Gender" name="Gender" value="Nữ">Nữ


                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Postion</label>
                            <br />
                            <select style="color: black" class="form-control" [(ngModel)]="user.Position">
                                <option *ngFor="let vt of ViTri">{{vt}}</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row" style="float: right;">
                    <button style="margin-right: 20px;" type="submit" (click)="back()"
                        class="btn btn-success pull-right">Back
                        Previous</button>
                    <button style="margin-right: 20px;" type="submit" class="btn btn-warning pull-right"
                        (click)="Update_User()">Update_User</button>

                    <button (click)="Delete_User()" style="margin-right: 20px;" type="submit"
                        class="btn btn-danger pull-right" id="xoa">Delete</button>
                </div>
                <div class="clearfix"></div>


            </div>

        </div>
    </div>