<div class="col-lg-12" style="margin-top: 40px;">
    <div class="card">
        <div class="card-header card-header-primary"
            style="background: dimgrey;color:white;text-align: center;font-size: 20px;">
            <h4 class="card-title ">List Category</h4>
            <p class="card-category">All Cate Infor</p>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table style="text-align: center" id="datatables" class="row-border hover">
                    <thead>
                        <tr>

                            <th>
                                Cate Name
                            </th>

                            <th>
                                Publication Date
                            </th>
                            <th>
                                Description
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row row-book">
    <div *ngIf="checksua" class="col-lg-12">
        <div class="card">
            <div class="card-header card-header-primary"
                style="background: dimgrey;color:white;text-align: center;font-size: 20px;">
                <h4 *ngIf="checksua" class="card-title">Cate Detail</h4>
                <p *ngIf="checksua" class="card-category">Update Cate</p>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Name of Cate</label>
                            <input disabled [(ngModel)]="Category.Name_Cat" type="text" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Publication Date</label>
                            <input style="width: 596px;" [(ngModel)]="Category.Publication_Date" type="date"
                                class="form-control">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Description</label>
                            <textarea rows="5" [(ngModel)]="Category.Description_Cat" type="text"
                                class="form-control"></textarea>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Stattus:</label><br />
                            <input type="radio" [(ngModel)]="Category.Status_Cat" name="Status_Cat" value="Ẩn">Ẩn
                            <br />
                            <input type="radio" [(ngModel)]="Category.Status_Cat" name="Status_Cat" value="Hiện">Hiện


                        </div>
                    </div>
                </div>

                <div class="row" style="float: right;">
                    <button style="margin-right: 20px;" type="submit" class="btn btn-success pull-right" id="sua"
                        (click)="back()">Back Previous</button>
                    <button style="margin-right: 20px;" type="submit" class="btn btn-warning pull-right" id="sua"
                        (click)="Update_Cate()">Update</button>

                    <button style="margin-right: 20px;" (click)="Delete_Cate()" type="submit"
                        class="btn btn-danger pull-right" id="xoa">Delete</button>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>



    </div>
    <div *ngIf="checkcat" class="col-lg-12">
        <div class="card">
            <div class="card-header card-header-primary"
                style="background: dimgrey;color:white;text-align: center;font-size: 20px;">
                <h4 *ngIf="checkcat" class="card-title">Book Management</h4>
                <p *ngIf="checkcat" class="card-category">Add New Category</p>
            </div>
            <div class="card-body">
                <form [formGroup]="ngForm">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Name of Cate</label>
                                <input formControlName="Name_Cat" [(ngModel)]="Category.Name_Cat" type="text"
                                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Name_Cat.errors }">
                                <div *ngIf="submitted && f.Name_Cat.errors" class="invalid-feedback">
                                    <div *ngIf="f.Name_Cat.errors.required">Please fill Cate's Name!!</div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Publication Date</label>
                                <input formControlName="Publication_Date" style="width: 596px;"
                                    [(ngModel)]="Category.Publication_Date"
                                    [ngClass]="{ 'is-invalid': submitted && f.Publication_Date.errors }" type="date"
                                    class="form-control">
                                <div *ngIf="submitted && f.Publication_Date.errors" class="invalid-feedback">
                                    <div *ngIf="f.Publication_Date.errors.required">Please fill Publication Date for
                                        Cate!!! </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Description</label>
                                <textarea rows="5" formControlName="Description_Cat"
                                    [ngClass]="{ 'is-invalid': submitted && f.Description_Cat.errors }"
                                    [(ngModel)]="Category.Description_Cat" type="text" class="form-control"></textarea>
                                <div *ngIf="submitted && f.Description_Cat.errors" class="invalid-feedback">
                                    <div *ngIf="f.Description_Cat.errors.required">Please fill Description for Cate!!!
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating">Stattus:</label><br />
                                <input type="radio" formControlName="Status_Cat" [(ngModel)]="Category.Status_Cat"
                                    name="Status_Cat" value="Ẩn">Ẩn
                                <br />
                                <input type="radio" formControlName="Status_Cat" [(ngModel)]="Category.Status_Cat"
                                    name="Status_Cat" value="Hiện">Hiện


                            </div>
                        </div>
                    </div>

                    <div class="row" style="float: right;">
                        <button style="margin-right: 20px;" type="submit" class="btn btn-warning pull-right" id="sua"
                            (click)="Add_Cate()">Add Cat</button>
                    </div>
                </form>

                <div class="clearfix"></div>
            </div>

        </div>



    </div>